<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/indexStyle.css">
    <link rel="stylesheet" href="../styles/headerStyle.css">

</head>
<body>

<div class="header">
    <h1>Trivia Challenge</h1>
</div>

<div class="mainContent">
    <div class="container">
        <div id="question">Loading question...</div>
        <input type="text" id="answer" placeholder="Type your answer here">
        <button id="submitBtn">Submit Answer</button>
    </div>
</div>

</body>
</html>