<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia Challenge | Game</title>
    <link rel="stylesheet" href="../styles/gameStyle.css">
    <link rel="stylesheet" href="../styles/headerStyle.css">

</head>
<body>
<div class="header">
    <h1>Trivia Challenge</h1>
</div>

<div class="mainContent">
    <div class="container question-box">

        <!-- Top info: category, difficulty, question number -->
        <div class="quiz-header">
            <p id="quizCategory">Category</p>
            <p>
                Difficulty:
                <span id="quizDifficulty" class="difficultyLabel">-</span>
            </p>
            <p class="questionNumber">
                Question
                <span id="totalQuestions">1</span>
                / 10
            </p>
            <p>
                Time:
                <span id="timer">15</span>s
            </p>
        </div>

        <!-- Question text -->
        <div id="question" class="question-text">Loading question...</div>

        <!-- Show multiple-choice options -->
        <ul class="quiz-options" id="choices">
        </ul>

        <!-- User answer input -->
        <input type="text" id="answer" placeholder="Type your answer here">
        <button id="btnCheck">Submit Answer</button>

        <!-- Info message when user submits without typing -->
        <div class="info-message hidden">
            Please type an answer before submitting.
        </div>

        <!-- Feedback area -->
        <div id="feedback" class="feedback hidden">
            <img id="feedbackImage" class="feedback-image" src="" alt="Feedback">
            <p id="feedbackText"></p>
        </div>



    </div>
</div>

<script type="module" src="../logic/connection.js"></script>
</body>
</html>