body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom,
    #FFF4C8 40%,
    #FFF4C8 100%
    );
    height: 100vh;
    overflow-x: hidden;
}

.mainContent {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.category-box {
    width: 450px;
    background-color: #FFF0B8;
    padding: 35px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 0 16px rgba(0,0,0,0.25);
    position: relative;
    z-index: 2;
}

.category-box h2 {
    font-size: 28px;
    color: black;
    font-weight: bold;
}

label {
    font-size: 18px;
    color: black;
}

.form-control {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}

.startButton {
    background-color: #FF8C42;
    padding: 12px 28px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    border: none;
    margin-top: 25px;
}
