body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom,
    #DCCEFF 0%,
    #DCCEFF 40%,
    #E9F1FF 40%,
    #E9F1FF 100%
    );
    height: 100vh;
    overflow-x: hidden;
}

.mainContent {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.question-box {
    width: 620px;
    background-color: #F5EDFF;
    padding: 35px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 0 16px rgba(0,0,0,0.25);
    position: relative;
    z-index: 2;
}

#quizCategory {
    font-size: 22px;
    font-weight: bold;
    color: #1F77FF;
}

#quizDifficulty {
    font-size: 20px;
    font-weight: bold;
    color: #2FA86E;
}

.questionNumber {
    font-size: 20px;
    font-weight: bold;
    color: #E68A00;
}

#question {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
}

.quiz-options li {
    text-align: left;
    margin-left: 22%;
    font-size: 20px;
    color: black;
}

#answer {
    width: 85%;
    padding: 12px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #1F77FF;
    margin-top: 20px;
}

#btnCheck {
    margin-top: 20px;
    background-color: #FF8C42;
    padding: 12px 28px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border: none;
}

.feedback-image {
    width: 80px;
    height: auto;
    margin-top: 15px;
}
