.header {
    position: sticky;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding: 25px 0;
    color: white;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
    z-index: 1000;
}


.header-home { background-color: #1F77FF; }

.header-category { background-color: #1F77FF; }

.header-game { background-color: #A98DF0; }

.header-results { background-color: #FF8C42; }
