body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom,
    #C7F8D4 40%,
    #C7F8D4 100%
    );
    height: 100vh;
    overflow-x: hidden;
}

.mainContent {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.welcome-box {
    width: 450px;
    background-color: #E5FFEF;
    padding: 35px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 0 16px rgba(0,0,0,0.25);
    position: relative;
    z-index: 2;
}

.welcome-box h2 {
    color: #1F77FF;
    font-size: 28px;
    margin-top: 0;
}

.welcome-box p {
    font-size: 18px;
    color: #333;
}

.startButton {
    background-color: #FF8C42;
    padding: 12px 28px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}
