body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        margin-top: 30px;
}

.container {
    background: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 500px;
    text-align: center;
    display: grid;
    place-items: center;
}


.startButton {
    background-color: #007bff;
    padding: 12px 25px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.startButton:hover {
    background-color: #0056b3;
}